extends layout

block content   
    div.p-3
        h1=title
        p This is the categories page.
        div.card-deck
            for category in category_list
                a.card(href=category.url)
                    div.card-header=category.name