extends layout

block content   
    div.m-0.p-0
        h1=title
        div.card-deck
            for category in category_list
                a.card(href=category.url)
                    div.card-header=category.name