extends layout

block content
    div(class="p-3")
        h3=title
        p TODO: add form element for updating items
        //- form
        //-     div(class="form-group")
        //-     label(for="name" value=item.name)